@import url("../base/variables.css");


.featured {
  position: relative;
}
.featured figure {
  position: relative;
}
.featured img{
  width: 100%;
}
.featured figcaption {
  position: absolute;
  left: 20px;
  top: 25px;
  max-width: 300px;
}

.featured-link {
  position: absolute;
  top: 110px;
  left: 40px;
  padding: 5px 20px;
}


.carrousel-items{
  display: flex;
  justify-content: center;
  align-items: center;

}
.carrousel-item {
  margin: 5px;
}
.carrousel-item.active img{
  border-left: 2px solid var(--green-details);
  border-right: 2px solid var(--green-details);

}
.carrousel-item.no-active{
  opacity: 0.7;
  filter: blur(0.5px);
}
.carrousel-item img{
  width: 90px;
  height: 109px;
  object-fit: cover;
  border-radius: var(--border-radius-8);

}
@media screen and (min-width: 768px) {
  .featured-link {
    top: 215px;
    left: 100px;
  }
  .featured figcaption {
    left: 80px;
    top: 35px;
    max-width: 500px;
  }
}